<div class="test-container">
  <div class="test-header">
    Clicking outside the grid will stop the editing <button style="font-size: 12px">Dummy Save</button>
    <input placeholder="click here, editing stops" />
  </div>
  <ag-grid-angular #agGrid
                   style="width: 100%; height: 500px;"
                   id="myGrid"
                   class="ag-theme-balham"
                   [columnDefs]="columnDefs"
                   [defaultColDef]="defaultColDef"
                   [components]="components"
                   [rowData]="rowData"
                   [stopEditingWhenGridLosesFocus]="true"
                   (gridReady)="onGridReady($event)"></ag-grid-angular>
</div>
