<div class="content">
  <div class="container-fluid">
    <div class="card-body pull-right p-1">
      <button class="btn btn-success btn-sm"><i class="fa fa-undo" aria-hidden="true"></i>Back</button>
    </div>
    <div class="clearfix"></div>

  </div>
</div>
<div class="content">
  <div class="content">
    <div class="container-fluid">

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                <h4 class="card-title">Material Received Note</h4>
              </div>
            </div>
            <div class="card-body mt-2" *ngIf="hide">

              <div class="table-responsive mt-2">

                <ag-grid-angular style="width:100%; height: auto"
                                 class="ag-theme-balham"
                                 [rowData]="rowData3"
                                 [columnDefs]="columnDefs3"></ag-grid-angular>

                <div class="col-md-12 mt-2 clearfix p-0">
                  <button class="btn pull-right btn-success btn-sm" (click)="showhide()">Create MRN</button>
                </div>

              </div>
            </div>

            <div class="card-body mt-2" *ngIf="show">
              <form method="get" class="form-horizontal">
                <div class="container">
                  <div class="row mb-2">
                    <div class="formBox">
                      <div class="col-md-12 clearfix">
                        <div class="col-md-4 pull-left">

                          <div class="row">
                            <label class="col-sm-3 col-md-4 col-form-label">Vendor:</label>
                            <div class="col-sm-8 col-md-8">
                              <div class="dropdown">
                                <div class="form-group">
                                  <div class="form-control">
                                    <select class="selectpicker" data-style="select-with-transition" title="" data-size="7">
                                      <option> Select</option>
                                      <option value="2">Vendor 1</option>
                                      <option value="3">Vendor 2</option>
                                      <option value="4">Vendor 3</option>

                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 pull-left">

                          <div class="row">
                            <label class="col-sm-3 col-md-4 col-form-label">Purchase Order:</label>
                            <div class="col-sm-8 col-md-8">
                              <div class="dropdown">
                                <div class="form-group">
                                  <div class="form-control">
                                    <select class="selectpicker" data-style="select-with-transition" title="" data-size="7">
                                      <option> Select</option>
                                      <option value="2">PO 1</option>
                                      <option value="3">PO 2</option>
                                      <option value="4">PO 3</option>

                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--<div class="col-md-4 pull-left">
              <div class="row">
                <label class="col-sm-3 col-md-4 col-form-label">Created By:</label>
                <div class="col-sm-8 col-md-8">
                  <div class="form-group p-0">
                    <label style="padding-top:10px">Fateh</label>
                  </div>
                </div>
              </div>
            </div>-->
                        <div class="col-md-4 pull-left">
                          <div class="row">

                            <label class="col-sm-3 col-md-4 col-form-label">MRN Number:</label>
                            <div class="col-sm-8 col-md-8">
                              <div class="form-group">
                                <input type="text" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 pull-left">
                          <div class="row">
                            <label class="col-sm-3 col-md-4 col-form-label">MRN Date:</label>
                            <div class="col-sm-8 col-md-8">
                              <div class="form-group">
                                <input type="date" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--<div class="col-md-4 pull-left">
              <div class="row">
                <label class="col-sm-3 col-md-4 col-form-label">PO Number:</label>
                <div class="col-sm-8 col-md-8">
                  <div class="form-group">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
            </div>-->
                        <div class="col-md-4 pull-left">
                          <div class="row">
                            <label class="col-sm-3 col-md-4 col-form-label">Activity Number:</label>
                            <div class="col-sm-8 col-md-8">
                              <div class="form-group">
                                <input type="text" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 pull-left">
                          <div class="row">
                            <label class="col-sm-3 col-md-4 col-form-label">Activity Date:</label>
                            <div class="col-sm-8 col-md-8">
                              <div class="form-group">
                                <input type="datetime" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--<div class="clearfix"></div>-->
                      <!--<div class="col-md-12 clearfix" style="border-top: 1px solid #acb7b6; padding-top: 7px; margin-top: 15px;">

          </div>-->
                    </div>

                  </div>
                </div>

              </form>
              <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="card-link mrnHead" data-toggle="collapse" href="#collapseOne">
                      Purchase Order Information
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                      <div class="table-responsive">

                        <ag-grid-angular style="width:100%; height: auto"
                                         class="ag-theme-balham"
                                         [rowData]="rowData"
                                         [columnDefs]="columnDefs"></ag-grid-angular>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <a class="card-link mrnHead" data-toggle="collapse" href="#collapseTwo">
                      Purchase Order Line
                    </a>
                  </div>
                  <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                      <div class="table-responsive mt-2">

                        <ag-grid-angular style="width:100%; height: auto"
                                         class="ag-theme-balham"
                                         [rowData]="rowData1"
                                         [columnDefs]="columnDefs1"></ag-grid-angular>

                        <!--<div class="col-md-12 mt-2 clearfix p-0">
              <button class="btn pull-right btn-success btn-sm" data-toggle="modal" data-target="#myModal1">Create Batch</button>
            </div>-->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--<h6 class="mrnHead">Purchase Order Information</h6>-->
              <div class="table-responsive mt-2">

                <ag-grid-angular style="width:100%; height: auto"
                                 class="ag-theme-balham"
                                 [rowData]="rowData2"
                                 [columnDefs]="columnDefs2"></ag-grid-angular>

                <!--<div class="col-md-12 mt-2 clearfix p-0">
      <button class="btn pull-right btn-success btn-sm" data-toggle="modal" data-target="#myModal1">Create Batch</button>
    </div>-->

              </div>

            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>

<div class="modal fade" id="myModal1" role="dialog" >
  <div class="modal-dialog modal-xs">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span class="cross">&times;</span>
        </button>
        <h4 class="modal-title modalHead">Material Received Note</h4>
      </div>
      <div class="modal-body">
        <div class="card-body p-0">
          <form method="get" class="form-horizontal">
            <div class="container">
              <div class="row mb-2">
                <div class="col-md-12">
                  <div class="row">
                    <label class="col-sm-3 col-md-4 col-form-label">Quantity:</label>
                    <div class="col-sm-8 col-md-8">
                      <div class="form-group">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="col-md-12">
                  <div class="row">
                    <label class="col-sm-3 col-md-4 col-form-label">Batch No.:</label>
                    <div class="col-sm-8 col-md-8">
                      <div class="form-group">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <label class="col-sm-3 col-md-4 col-form-label">Expiry Date:</label>
                    <div class="col-sm-8 col-md-8">
                      <div class="form-group">
                        <input type="date" class="form-control" >
                      </div>
                    </div>
                  </div>
                </div>
                

             
              </div>
            </div>

          </form>
        
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm mr-2" data-dismiss="modal">Submit</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="batchPopup" role="dialog">
  <div class="modal-dialog modal-xs">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span class="cross">&times;</span>
        </button>
        <h4 class="modal-title modalHead">Create Batch</h4>
      </div>

      <div class="modal-body">

        <div class="form-check-inline col-md-3">
          <label class="form-check-label" style="color: #243a38;">
            <input class="form-check-input" name="optradio" type="radio" checked >Vendor Batch
          </label>
        </div>
        <div class="form-check-inline col-md-3">
          <label class="form-check-label" style="color: #243a38;">
            <input class="form-check-input" name="optradio" type="radio">Internal Batch
          </label>
        </div>
        <div class="col-sm-12 col-md-12 p-0 mt-2">


          <div class="row">
            <label class="col-sm-3 col-md-3 col-form-label">Quantity:</label>
            <div class="col-sm-9 col-md-9">
              <div class="form-group">
                <input class="form-control" type="text">
              </div>
            </div>
          </div>


          <div class="row">
            <label class="col-sm-3 col-md-3 col-form-label">Batch No.:</label>
            <div class="col-sm-9 col-md-9">
              <div class="form-group">
                <input class="form-control" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <label class="col-sm-3 col-md-3 col-form-label">Expiry Date:</label>
            <div class="col-sm-9 col-md-9">
              <div class="form-group">
                <input class="form-control" type="date">
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer p-0 mt-2">

          <button class="btn btn-success btn-sm" data-dismiss="modal" type="button">Submit</button>

        </div>



      </div>

    </div>
</div>
  </div>

<div class="modal fade" id="generatePopup" role="dialog">
  <div class="modal-dialog modal-sm">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span class="cross">&times;</span>
        </button>
        <h4 class="modal-title modalHead">Generate Sticker</h4>
      </div>


      <div class="modal-body">

        <div class="form-check-inline col-md-5 p-0">
          <label class="form-check-label" style="color: #243a38;">
            <input type="radio" class="form-check-input" name="optradio" checked>Equal Quantity
          </label>
        </div>
        <div class="form-check-inline col-md-5 p-0">
          <label class="form-check-label" style="color: #243a38;">
            <input type="radio" class="form-check-input" name="optradio">Random Quantity
          </label>
        </div>
        <div class="col-sm-12 col-md-12">
          <div class="row">
            <label class="col-sm-3 col-md-3 col-form-label pl-0">Quantity:</label>
            <div class="col-sm-9 col-md-9 p-0">
              <div class="form-group">
                <input class="form-control" type="text">
              </div>
            </div>
          </div>

        </div>
        <button class="btn btn-success btn-sm pull-right"><i aria-hidden="true" class="fa fa-plus pr-1"></i>Add</button>

      </div>
      <div class="modal-footer" style="display:block; text-align:center">
        <button class="btn btn-success btn-sm">Generate</button>
      </div>
    </div>

  </div>
</div>
