<!--<div class="container">
  <div class="card card-login mx-auto text-center bg-dark">
    <div class="card-header mx-auto bg-dark">

      <span class="logo_title mt-5"> Login Dashboard </span>

    </div>
    <div class="card-body">
      <form action="" method="post">
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
            <input type="text" name="email" class="form-control" placeholder="Username">
          </div>

        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>

        </div>
        <div class="form-group">
          <input type="submit" name="btn" value="Login" class="btn btn-outline-danger  login_btn">
        </div>
      </form>
    </div>
  </div>
</div>-->

<div class="content">
  <div class="content">
    <div class="container-fluid">

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class=" " style="padding-right:260px;">
        
            <div class="card-body ">
              <form method="get" class="form-horizontal">
                <div class="container">
                  <div class="row mb-2">
                    <div class="card card-login mx-auto text-center bg-dark1">
                      <div class="card-header mx-auto">
                        <a href="#" class="simple-text logo-normal">
                          <img src="../../assets/img/Main-LOGO.png" />
                        </a>
                      </div>
                      <!--<div class="card-header mx-auto bg-dark">
                        <span class="logo_title mt-5"> Login Dashboard </span>
                      </div>-->
                      <div class="card-body">
                        <form  [formGroup]="userForm"  >
                          <div class="input-group form-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-user"></i></span>
                              <input type="email" name="EmailId" class="form-control" placeholder="Username" formControlName="EmailId" [ngClass]="{'is-invalid': submitted && f.EmailId.errors}">
                              <div *ngIf="submitted && f.EmailId.errors" class="invalid-feedback">
                                <div *ngIf="f.EmailId.errors.required">* E-mail is required</div>
                                <div *ngIf="f.EmailId.errors.email">* valid email is required</div>
                              </div>
                            </div>

                          </div>
                          <div class="input-group form-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-key"></i></span>
                              <input type="password" name="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid': submitted && f.password.errors}">
                              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">* Password is required</div>
                              </div>
                            </div>

                          </div>
                          <div class="form-group">
                            <input type="submit" name="btn" value="Login" (click)="LoginUser()" class="btn btn-outline-danger login_btn">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
             
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>






